<h1>New Deck</h1>
<%= form_for :card_decks, url: card_decks_path do |f| %>
    <p>
        <%= f.label :name %> <br>
        <%= f.text_field :name %> <br>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>