
<body>
  <strong>Deck Name: <%= @cardDeck.name %></strong>
<br>
<br>

  <div class="row">
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
         <h3>Card Name</h3>
          <p>Power:</p>
          <p>Description:</p>
        </div>
      </div>
    </div>
  
    
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
          <h3>Card Name</h3>
          <p>Power:</p>
          <p>Description:</p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
        <h3>Card Name</h3>
          <p>Power:</p>
          <p>Description:</p> 
        </div>
      </div>
    </div>
  </div>

</body>