<p>
<strong>Deck Name:</strong>
<%= @cardDeck.name %>
</p>
<p>
    <div class="card">
  <%= image_tag "leonidas.jpg" %>
  <div class="container">
    <h4><b>Double Sword</b></h4> 
    <ul>
      <li>Power: 65%</li>
      <li>Health: 400</li>
      <li>Rarity: Common</li>
    </ul 
  </div>
</div>
</p>