
<body>
  <strong>Deck Name:</strong>
    <%= @cardDeck.name %>

  <div class="row">
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
          <h4><b>Card Name</b></h4> 
            <ul>
            <li>Power: "Percentage"</li>
              <li>Health: "Number"</li>
              <li>Rarity: "Word"</li>
            </ul 
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
          <h4><b>Card Name</b></h4> 
            <ul>
              <li>Power: "Percentage"</li>
              <li>Health: "Number"</li>
              <li>Rarity: "Word"</li>
            </ul 
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="column">
      <div class="card">
        <%= image_tag "placeholder.png" %>
        <div class="container">
          <h4><b>Card Name</b></h4> 
            <ul>
              <li>Power: "Percentage"</li>
              <li>Health: "Number"</li>
              <li>Rarity: "Word"</li>
            </ul 
        </div>
      </div>
    </div>
  </div>

</body>