<h1><%= @cardDeck.name %></h1>
<h2><%= @cardDeck.cards.count %> cards</h2>

<% if(@cardDeck.user == current_user) %>
  <%= link_to "Edit Deck", edit_card_deck_path(@cardDeck), :class => "btn btn-primary" %>
<% end %>

<%= render @cardDeck.cards %>