<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="m-5 pb-5">
<div class="jumbotron">
  <h1 class="display-4">Deck Battle</h1>
  <p class="lead">Deck Battle is an online trading card game. Build decks and battle other users to establish dominance.</p>
</div>
</div>


</body>
</html>
