<h1>Inventory</h1>

<div id="button1" 
    <button onclick="location.href= 'https://8057974f04024a138455a1e821b4fa1d.vfs.cloud9.us-east-1.amazonaws.com/welcome/index'" type="button">
    Menu
    </button>
</div>