// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: grey;
}

h1 {
    margin-top: 50px;
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
}

button {
     background-color: #008CBA; 
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 75px;
}

#button1 {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 32px;
    
}

#button2 {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 32px;
    
    
}

#button3 {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 32px;
    
    
}

#button4 {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 32px;
    
    
}